<!DOCTYPE html>

<!-- MK14-SUPERVISION -->
<!-- created by : CosmodiumCS -->
<!-- watchu poking around the source for?!?!?! -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MK14-SuperVision</title>

    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <!-- cluster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

    <!-- geocoder -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- minimap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.js"></script>

    <!-- page css -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="supervision-map" id="map"></div>
    <!-- <script src="{{ url_for('static', filename='js/supervision.js') }}"></script> -->

<script>
// map
var map = L.map("map",{center: [0, 0],crs: L.CRS.EPSG3857,zoom: 1,zoomControl: true,preferCanvas: false});
L.control.scale().addTo(map);

//  tile layers
const cosmodiumcsTileLayer = L.tileLayer("https://api.mapbox.com/styles/v1/cosmodiumcs/cl5cuv2ar000315o5qr197too/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY29zbW9kaXVtY3MiLCJhIjoiY2w1Y3VucHRjMDZtdjNkb3libjNlMjEyZSJ9.z2TV_0S6PuuIHS847jCq1A", {attribution: "© CosmodiumCS"}).addTo(map); // cosmodiumcs tile layer
const satelliteTileLayer = L.tileLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"); // sattelite tile layer

// minimap
const miniMap = new L.Control.MiniMap(L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "Map data &copy; <a href=\"https://www.openstreetmap.org/\">OpenStreetMap</a> contributors",
    maxZoom: 18
})).addTo(map);

// geocoder
const geocoder = L.Control.geocoder({
    defaultMarkGeocode: false
}).on("markgeocode", function(e) {
    map.fitBounds(e.geocode.bbox);
}).addTo(map);

// icons
const cameraIcon = L.icon({
    iconUrl: "{{ url_for('static', filename='assets/camera.png') }}",
    iconSize: [40, 40],
});
const busIcon = L.icon({
    iconUrl: "{{ url_for('static', filename='assets/bus.png') }}",
    iconSize: [40, 40],
});
const boatIcon = L.icon({
    iconUrl: "{{ url_for('static', filename='assets/boat.png') }}",
    iconSize: [40, 40],
});

// camera cluster icons
function cameraClusterIcon(cluster) { // cameras
    return L.divIcon({
    html: "<div style='background-color: #009999; color: white; border-radius: 50%; width: 40px; height: 40px; text-align: center; line-height: 40px;'>" + cluster.getChildCount() + "</div>",
    className: "custom-cluster-icon"
    });
}

// parse json
function parseJSON(jsonFile) {
    fetch(jsonFile) 
    .then(response => response.json())
    .then(data => {
        data.forEach(point => {
            const camera = L.marker([point.lat, point.lon], {icon: cameraIcon})
            camera.bindPopup("<a href="+point.url+" target=_blank>"+point.description+"</a>");
            cameraClusterGroup.addLayer(camera);
        });
    })
    .catch(error => {
        console.error("Error fetching JSON data:", error);
    });
}

// parse geojson
function parseGEO(geojsonFile) {
    fetch(geojsonFile) 
        .then(response => response.json())
        .then(data => {

    const points = L.geoJSON(data, { 
        onEachFeature: function(feature, layer) {
            let url = feature.properties.url;
            if (url.endsWith("m3u8")) {
                url = "https://www.hlsplayer.org/play?url=" + url.replace(":","%3A").replace("/","%2F");
            }
                layer.bindPopup(`<a href="${url}" target="_blank">${feature.properties.description}</a>`);
            },
        pointToLayer: (feature, latlng) => {
            const mpoints = L.marker(latlng, {icon: cameraIcon});
            mpoints.bindPopup(data.description)
            return mpoints
        }
    })
            cameraClusterGroup.addLayer(points);
        })
    .catch(error => {
        console.error("Error fetching JSON data:", error);
    });
}

// update markers on a specific layer
function updateMarkers(layerGroup, apiEndpoint) {
    fetch(apiEndpoint)
        .then(response => response.json())
        .then(data => {
            layerGroup.clearLayers();
            data.forEach(marker => {
                L.marker([marker.lat, marker.lon])
                    .addTo(layerGroup)
                    .bindPopup(marker.popup);
            });
        })
        .catch(error => console.error("Error fetching marker data:", error));
}

// cluster groups
var cameraClusterGroup = L.markerClusterGroup({iconCreateFunction: cameraClusterIcon});

// layer groups
var cameraLayerGroup = L.layerGroup([cameraClusterGroup]);
var transitLayerGroup = L.layerGroup(); 

// layers
var baseLayers = {
    "CosmodiumCS Tiles": cosmodiumcsTileLayer,
    "Sattelite Tiles": satelliteTileLayer
};
var overlays = {
    "Cameras": cameraLayerGroup
};

// layer control
const layerControl = L.control.layers(baseLayers, overlays).addTo(map);
layerControl.addOverlay(transitLayerGroup,"Transit");

map.addLayer(cameraLayerGroup);

// auto-refresh layer
updateMarkers(transitLayerGroup, "/mk14/api/transit"); // initial markers
setInterval(function () {
    updateMarkers(transitLayerGroup, "/mk14/api/transit");
}, 30000);

// plot camera locations
{% for location in camera_locations %}
parseGEO("/mk14/static/cameras/{{ location if location.endswith('geojson') }}");
parseJSON("/mk14/static/cameras/{{ location if location.endswith('.json') }}");
{% endfor %}

</script>

</body>
</html>
